<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node项目</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- 公共样式 -->
  @@include('./common/style.html')
    <!-- 自定义css -->
  <link rel="stylesheet" type="text/css" href="css/category.css">
</head>
<body>
 <div class="page-group">
    <div class="page page-current">
    <!-- 导航条 引入-->
      @@include('./common/searchBar.html')
      <div class="content" id="content">
        <div class="row">
          <div class="col-25 layout-left" id="leftMenuInfo"></div>
          <div class="col-75 layout-right" id="rightCateInfo"></div>
        </div>
      </div>
      <!-- 菜单栏 引入的样式中-->
      @@include('./common/footer.html',{
        "category":"active"
      })
    </div>
  </div>
  <!-- 将script标签中的文件引入 -->
  @@include('./common/script.html')
  <!-- <script type="text/javascript" src="js/category.js"></script> -->
  <script type="text/template" id="leftMenuTpl">
    <div class="layout-con">
      {{each $data}}
      <div class="items">{{$value.cat_name}}</div>
      {{/each}}
    </div>
  </script>
  <script type="text/template" id="rightCateTpl">
     <div class="shangpin">
      {{each $data.data}}
        <div class="goods-cat">
          <h2 class="theme">
            <p>{{$value.cat_name}}</p>
            <s class="m-line"></s>
          </h2>
          <div class="comP">
            {{each $value.children item}}
            <div class="good" data-cid="{{item.cat_id}}">
              <div style=""><img src="{{$data.baseUrl + '' +item.cat_icon}}"></div>
              <p>{{item.cat_name}}</p>
            </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </script>
  <script type="text/javascript" src="js/category.js"></script>
</body>
</html>