<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node项目</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- 公共样式 -->
  @@include('./common/style.html')
</head>
<body>
 <div class="page-group">
    <div class="page page-current">
    <!-- 导航条 -->
      @@include('./common/searchBar.html')
      <div class="content" id="content">
      <!-- 轮播图 -->
        <div class="swiper-container" id="swiperInfo"></div>
        <!-- nav导航栏 -->
        <div class="content-padded menu" id="menuInfo"></div>
        <!-- 详情页 -->
        <div id="listInfo">
          <!-- 内容列表模板 -->
         <!--  <div class="content-padded list-title">
            <img src="http://image4.suning.cn/uimg/cms/img/149559219946350066.png">
          </div>
          <div class="content-padded list-item">
            <div class="row">
              <div class="col-50">
                <div class="pic">
                  <img src="http://image3.suning.cn/uimg/mcmp/tm/0010130570000000000623444503_2_400x400.jpg">
                </div>
                <div class="name">梦·梵雅18K金30分钻石戒指-闪耀</div>
                <div class="price">
                  <span>¥ 0</span>
                  <a href="/goods-list.html?cid=18443" class="button external">找相似</a>
                </div>
              </div>
              <div class="col-50">
                <div class="pic">
                  <img src="http://image5.suning.cn/uimg/b2c/newcatentries/0070149651-000000000611328848_2_400x400.jpg">
                </div>
                <div class="name">蒂芙尼:Tiffany Return to Tiffany珠式心牌蓝色珐琅手链（链长可选） 27630146、</div>
                <div class="price">
                  <span>¥ 0</span>
                  <a href="/goods-list.html?cid=18856" class="button external">找相似</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pic">
                  <img src="http://image1.suning.cn/uimg/b2c/newcatentries/0070141413-000000000622082544_1_400x400.jpg">
                </div>
                <div class="name">小米（MI）小米电视4 L65M5-AB 65英寸 3GB+32GB 4.9mm超薄 全景声影院 4K超高清智能平板电视</div>
                <div class="price">
                  <span>¥ 0</span>
                  <a href="/goods-list.html?cid=17922" class="button external">找相似</a>
                </div>
              </div>
              <div class="col-50">
                <div class="pic">
                  <img src="http://image1.suning.cn/uimg/b2c/newcatentries/0070176762-000000000831384265_1_400x400.jpg">
                </div>
                <div class="name">国信恒丰 新中国邮票 一轮生肖邮票方连邮票 生肖方联 一轮生肖邮票 四方联 兔四方联</div>
                <div class="price">
                  <span>¥ 55</span>
                  <a href="/goods-list.html?cid=19185" class="button external">找相似</a>
                </div>
              </div>
            </div>
            <div class="row">
            </div>
          </div>-->
        </div>
      </div>
      <!-- 菜单栏 -->
      @@include('./common/footer.html',{
        "current":"active"
      })
    </div>
  </div>
  <!-- 将script标签中的文件引入 -->
  @@include('./common/script.html')
  <!-- 模板处理轮播图 -->
  <script type="text/template" id="swiperTpl">
     <div class="swiper-wrapper">
      {{each list}}
        <div class="swiper-slide">
          <img src="{{$value.image_url}}">
        </div>
      {{/each}}
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </script>
  <!-- 模板处理菜单栏 -->
  <script type="text/template" id="menuTpl">
    <div class="row">
      {{each list}}
        <div class="col-20">
          <a href="{{$value.href}}">
            <div>
              <img src="{{$value.img}}">
            </div>
            <div>{{$value.name}}</div>
          </a>
        </div>
        {{if ($index + 1) % 5 == 0}}
          </div>
          <div class="row">
        {{/if}}
      {{/each}}
    </div>
  </script>
  <!-- 模板处理详情页 -->
  <script type="text/template" id="listTmp">
   {{each list}}
      <!-- 循环titer -->
      <div class="content-padded list-title">
        <img src="{{$value.group_img}}">
      </div>
      <div class="content-padded list-item">
        <div class="row">
        <!-- 商品栏 -->
          {{each $value.goods item}}
            <div class="col-50">
              <div class="pic">
                <img src="{{item.goods_big_logo}}">
              </div>
              <div class="name">{{item.goods_name}}</div>
              <div class="price">
                <span>¥ {{item.goods_price}}</span>
                <a href="/goods-list.html?cid={{item.cat_id}}" class="button external">找相似</a>
              </div>
            </div>
            {{if ($index + 1) % 2 == 0}}
              </div>
              <div class="row">
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </script>
</body>
</html>